@import './variables.scss';

.hero-banner {
  background-color: $sections-background;
  padding-bottom: 2rem;

  .hero-image {
    img {
      max-width: 100%;
    }
  }

  ul {
    li {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
      color: $brand-primary-light;
      font-weight: 700;

      img {
        margin-right: 1rem;
      }
    }
  }

  .form-container {
    margin-top: 2rem;
    display: flex;

    input[type='text'] {
      padding: 1rem 0;
      border: 1px solid $brand-primary-lighter;
      border-radius: 5px;
      text-align: center;
      color: $brand-primary-light;
      margin-right: 10px;

      &::placeholder {
        color: $brand-primary-lighter;
      }
    }
  }
}

@media only screen and (min-width: $medium) {
  .hero-banner {
    ul {
      li {
        font-size: 1.1rem;
      }
    }

    .form-container {
      input[type='text'] {
        flex: 0 0 30%;
      }
    }
  }
}

@media only screen and (min-width: $large) {
  .hero-banner-content {
    display: flex;

    .hero-image {
      order: 1;
      flex: 0 0 35%;
    }

    .hero-details {
      h1 {
        margin-top: 0;
      }
    }

    .form-container {
      input[type='text'] {
        flex: 0 0 40%;
      }
    }
  }
}
