@import './variables.scss';

// SOCIAL MEDIA
.social-media-logos {
  padding: 2.5rem 0;

  .logos-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    > :nth-last-child(-n + 5) {
      display: none;
    }

    .logo-img {
      flex: 0 0 28%;

      img {
        width: 100%;
      }
    }
  }
}

// ESCROW
.escrow-content {
  background-color: $sections-background;
  border-radius: 10px;
  display: flex;
  justify-content: center;

  .content-wrapper {
    background-image: url('../../assets/imgs/escrow-mobile.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    padding: 1rem 2rem 0 2rem;
    max-width: 374px;
    height: 620px;
  }
}

// TEXT EDITOR
.text-editor {
  padding: 2.5rem 0;

  img {
    width: 100%;
    max-width: 721px;
  }
}

// FOOTER
footer {
  background-color: black;
  color: $brand-grey;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  h3 {
    color: white;
  }

  p {
    color: $brand-grey;
  }

  .footer-links {
    margin: 0;
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 1%;

    h3 {
      margin-top: 0;
    }

    .footer-item-spense {
      grid-column: 1/3;
    }
  }

  .footer-links-item {
    li {
      margin-bottom: 0.6rem;

      a {
        font-size: 1.1rem;
        color: $brand-grey;
      }
    }
  }
}

@media only screen and (min-width: $medium) {
  // SOCIAL MEDIA
  .social-media-logos {
    .logos-list {
      li:nth-child(n + 4):nth-child(-n + 5) {
        display: block;
      }

      .logo-img {
        flex: 0 0 17%;
      }
    }
  }

  // ESCROW
  .escrow-content {
    .content-wrapper {
      background-image: url('../../assets/imgs/escrow-tablet.png');
      max-width: 520px;
      height: 520px;
    }
  }

  // TEXT EDITOR
  .text-editor {
    padding-bottom: 0;

    .img-wrapper {
      width: 100%;
      text-align: center;
    }
  }

  // FOOTER
  footer {
    .footer-links {
      grid-template-columns: 25% 25% 20% 20%;
      grid-gap: 1rem;

      .footer-item-spense {
        grid-column: 1/3;
      }

      .footer-item-sitemap {
        grid-row: 1/2;
        grid-column: 3/4;
      }

      .footer-item-resources {
        grid-row: 1/2;
        grid-column: 4/5;
      }
    }
  }
}

@media only screen and (min-width: $large) {
  // SOCIAL MEDIA
  .social-media-logos {
    .logos-list {
      .logo-img {
        display: block;
      }

      .logo-img {
        flex: 0 0 10%;
      }
    }
  }

  // ESCROW
  .escrow-content {
    .content-wrapper {
      background-image: url('../../assets/imgs/escrow-desktop.png');

      // TODO: TO BE CONTINUED FROM THIS POINT
    }
  }
}
