// COLORS
$sections-background: #f0eeeb;
$brand-primary-dark: #292929;
$brand-primary-light: #5a5444;
$brand-primary-lighter: #bebebc;
$brand-white: #fff;
$brand-grey: #9e9e9e;

// BREAKPOINTS
$small: 480px;
$medium: 768px;
$large: 1279px;
