@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import './src/header.scss';

/* Border box declaration 
https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;

  /* inherit border-box on all elements in the universe and before and after
   */
  *,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  font-family: 'Cabin', sans-serif;
}
